<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHomeBank | Monthly Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>MyHomeBank | Monthly Report - {{ month_name }} {{ year }}</h1>

        <form method="GET" action="{{ url_for('report') }}" class="date-range-form">
            <div class="form-group">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>
            </div>
            <div class="form-group">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
            </div>
            <button type="submit">Update Report</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Total Income</th>
                    <th>Total Expenses</th>
                    <th>Net Income</th>
                    <th>Net Income Percentage</th>
                    <th>Daily Average Expense</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_incomes | format_money }}</td>
                    <td>{{ total_expenses | format_money }}</td>
                    <td>{{ (total_incomes - total_expenses) | format_money }}</td>
                    <td>
                        {% if total_incomes > 0 %}
                        {{ ((total_incomes - total_expenses) / total_incomes * 100) | int }}%
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>{{ daily_average_expense | format_money }}</td>
                </tr>
            </tbody>
        </table>
        <canvas id="categoryChart" width="100" height="50"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const categoryData = JSON.parse('{{ category_totals | tojson | safe }}');
            const labels = Object.keys(categoryData);
            const data = Object.values(categoryData);

            const ctx = document.getElementById('categoryChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Expenses',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)', // Red
                            'rgba(54, 162, 235, 0.2)', // Blue
                            'rgba(255, 206, 86, 0.2)', // Yellow
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    let label = context.label || '';

                                    if (label) {
                                        label += ': ';
                                    }
                                    if (context.parsed !== null) {
                                        const percentage = (context.parsed / context.dataset.data.reduce((a, b) => a + b, 0) * 100).toFixed(2) + '%';
                                        label += percentage;
                                    }
                                    return label;
                                }
                            }
                        }
                    }
                }
            });
        </script>

        <h2>Need/Want Totals:</h2>
        <table>
            <thead>
                <tr>
                    <th>Need/Want</th>
                    <th>Total</th>
                    <th>Percentage of Net Income</th>
                </tr>
            </thead>
            <tbody>
                {% for need_want, total in need_want_totals.items() %}
                <tr>
                    <td>{{ need_want }}</td>
                    <td>{{ total | format_money }}</td>
                    <td>
                        {% if total_incomes > 0 %}
                        {{ ((total / total_incomes) * 100) | int }}%
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Category Totals:</h2>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for category, total in category_totals.items() %}
                <tr>
                    <td>{{ category }}</td>
                    <td>{{ total | format_money }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Incomes:</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount (IDR)</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td>{{ income.date }}</td>
                    <td>{{ income.category }}</td>
                    <td>{{ income.description }}</td>
                    <td>{{ income.amount | format_money }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Expenses:</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount (IDR)</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.amount | format_money }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <button onclick="location.href='/'" type="button">Back to Home</button>
    </div>
</body>

</html>